fastapi
uvicorn

SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
redis==5.0.1
python-dotenv==1.0.1
requests==2.32.3
httpx==0.27.0
pytest==8.1.1
pytest-asyncio==0.23.6

# requests
# sqlalchemy
# python-dotenv
# cryptography
# aiomysql
# asyncmy
# httpx
# mysql-connector-python
# aiosqlite
# pymysql
